<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon size="large" id="home" color="secondary" name="home" [routerLink]="['/menu']"></ion-icon>
      </ion-col>

      <ion-col>
        <img src="assets/images/Logo%20MONEY%20SA%201.png" alt="" id="img">
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-segment [(ngModel)]="mySegment" >
        <ion-segment-button value="MesTransaction">
          <ion-label>Mes Transaction</ion-label>
        </ion-segment-button>
        <ion-segment-button value="TesTransaction" *ngIf="roles == 'ROLE_AdminAgence'">
          <ion-label>Toutes mes transactions</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-grid>
</ion-header>
<!-- cest ici Termine le Headers-->



<ion-content>


<div *ngIf="mySegment=='MesTransaction'">

  <!-- cest ici commence les select  users et Dates-->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select interface="popover" value="Depot" #element (ionChange)="getMesTransaction(element.value)" >
            <ion-select-option value="Depot">Depot</ion-select-option>
            <ion-select-option value="Retrait">Retrait</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <!--<ion-col>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-select interface="popover">
        <ion-select-option value="date">date</ion-select-option>
        <ion-select-option value="dates">dates</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>-->

    </ion-row>
  </ion-grid>


  <!-- cest ici commence la table Mes Transactions-->
  <ion-grid class="ion-text-center">

    <ion-row class="header-row">

      <ion-col><ion-text>Data</ion-text></ion-col>
      <ion-col><ion-text>Montant</ion-text></ion-col>
      <ion-col><ion-text>Frais</ion-text></ion-col>
    </ion-row>



    <div  *ngIf="type ;else Retrait">
      <ion-row *ngFor="let trans of transactions ">
        <ion-col><ion-text>{{trans.dateDepot | date: 'dd-MM-y'}}</ion-text></ion-col>
        <ion-col><ion-text>{{trans.montant}}</ion-text></ion-col>
        <ion-col><ion-text>{{trans.partAgentDepot}}</ion-text></ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col><strong>Total</strong></ion-col>
          <ion-col><strong>{{calcul}}  FCFA</strong></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ng-template #Retrait>
      <ion-row *ngFor="let trans of transactions ">
        <ion-col><ion-text>{{trans.dateRetrait | date:'dd-MM-y'}}</ion-text></ion-col>
        <ion-col><ion-text>{{trans.montant}}</ion-text></ion-col>
        <ion-col><ion-text>{{trans.partAgentRetrait}}</ion-text></ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col><strong>Total</strong></ion-col>
          <ion-col><strong>{{calcul}} FCFA</strong></ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>

  </ion-grid>

</div>


  <!-- cest ici commence la table Toutes Mes Transactions-->
  <div *ngIf="mySegment=='TesTransaction' && roles == 'ROLE_AdminAgence'">

    <!-- cest ici commence les select  users et Dates-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Users</ion-label>
            <ion-select interface="popover" value="Depot" #element (ionChange)="getTouTransaction(element.value)" >
              <ion-select-option value="Depot">userDepot</ion-select-option>
              <ion-select-option value="Retrait">userRetrait</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!--<ion-col>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="date">date</ion-select-option>
          <ion-select-option value="dates">dates</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>-->

      </ion-row>
    </ion-grid>

    <ion-grid class="ion-text-center">

      <ion-row class="header-row">

        <ion-col><ion-text>Data</ion-text></ion-col>
        <ion-col><ion-text>Users</ion-text></ion-col>
        <ion-col><ion-text>Montant</ion-text></ion-col>
        <ion-col><ion-text>Frais</ion-text></ion-col>
      </ion-row>


      <div  *ngIf="types ;else Retrait">
        <ion-row *ngFor="let trans of transaction ">
          <ion-col><ion-text>{{trans.dateDepot | date:"dd-MM-y"}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.userDepot.prenom}} {{trans.userDepot.nom}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.montant}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.partAgentDepot}}</ion-text></ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col><strong>Total</strong></ion-col>
            <ion-col><strong>{{frais}} FCFA</strong></ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ng-template #Retrait>
        <ion-row *ngFor="let trans of transaction ">
          <ion-col><ion-text>{{trans.dateRetrait | date:'dd-MM-y'}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.userRetrait.prenom}} {{trans.userRetrait.nom}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.montant}}</ion-text></ion-col>
          <ion-col><ion-text>{{trans.partAgentRetrait}}</ion-text></ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col><strong>Total</strong></ion-col>
            <ion-col><strong>{{frais}} FCFA</strong></ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>

    </ion-grid>

  </div>

</ion-content>



