<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon size="large" id="home" color="secondary" name="home" [routerLink]="['/menu']"></ion-icon>
      </ion-col>

      <ion-col>
        <img src="assets/images/Logo%20MONEY%20SA%201.png" alt="" id="img">
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-segment [(ngModel)]="mySegment" >
        <ion-segment-button value="MesTransaction">
          <ion-label>Mes Transaction</ion-label>
        </ion-segment-button>
        <ion-segment-button value="TesTransaction">
          <ion-label>Toutes mes transactions</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-grid>
</ion-header>

<ion-content>
<div *ngIf="mySegment=='MesTransaction'">

  <ion-card>

  </ion-card>
</div>





    <!--<table>
  <thead>
  <tr>
   <th scope="col">Date</th>
     <th scope="col">Users</th>
    <th scope="col">Montant</th>

  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let trans of transactions ">
    <td>{{trans.dateDepot}} {{trans.dateRetrait}}</td>
   <td>{{trans.userDepot}}{{trans.userRetrait}}</td>
    <td>{{trans.montant}}</td>

  </tr>
  <ion-item *ngIf="transactions">
    <ion-label ><strong>Total</strong></ion-label>
    <ion-input readonly="true" >
    </ion-input>
  </ion-item>
  </tbody>
</table>-->



  <div *ngIf="mySegment=='TesTransaction'">
    <p>Toutes mes transactions</p>
  </div>
</ion-content>
