#page{
  width: 20%;
}

#Img{
  width: 20%;
  margin-right: 30%;
}
#depot{
  text-align: center;
  border-bottom: #4c8dff solid 3px;
  margin:  auto;
  width: 40%;
}
#container{

}
#depots{
  margin: 0 0 10% 10%;
}
