
#container {
  text-align: center;

}

.flex {
  display: flex;
  justify-content: space-between;
}
#page{
  width: 25%;
  border-bottom: #24C6DC solid 5px;
  margin: 0 auto;
}
#dive{
  color: red;
}
#dives{
  color: red;
}
