




<ion-app>
  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">

        <ion-card>
          <div id="container">
            <p class="ion-text-center">Mon solde Disponible :</p>
            <ion-card-title class="ion-text-center" color="secondary">150000 fcfa</ion-card-title>
          </div>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-icon  color="danger" name="return-down-forward-outline" slot="start"></ion-icon>
            <ion-label>Depot</ion-label>
            <ion-icon name="chevron-forward-outline" color="danger" [routerLink]="['']"></ion-icon>
          </ion-item>

          <ion-item >
            <ion-icon color="danger" name="return-down-back-outline" slot="start"></ion-icon>
            <ion-label>Retrait</ion-label>
            <ion-icon color="danger" name="chevron-forward-outline" [routerLink]="['']"></ion-icon>
          </ion-item>

          <ion-item >
            <ion-icon color="danger" name="sync-outline" slot="start"></ion-icon>
            <ion-label>Mes Transactions</ion-label>
            <ion-icon color="danger" name="chevron-forward-outline"></ion-icon>
          </ion-item>

          <ion-item >
            <ion-icon color="danger" name="calculator-outline" slot="start"></ion-icon>
            <ion-label>Calculateur de frais</ion-label>
            <ion-icon color="danger" name="chevron-forward-outline"></ion-icon>
          </ion-item>

          <ion-item >
            <ion-icon color="danger" name="power-outline" slot="start"></ion-icon>
            <ion-label>Déconnexion</ion-label>
            <ion-icon color="danger" name="chevron-forward-outline"></ion-icon>
          </ion-item>

        </ion-card>
      </ion-content>
  </div>
</ion-app>

