#page{
  width: 5%;
}
ion-card-content{
  background-color: white;
}
#depot{
  text-align: center;
  border-bottom: #24C6DC solid 3px;
  margin:  auto;
  width: 40%;
}
ion-header{
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  background: #ffffff;
  ion-row{
    ion-col{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #home{
    color: #3a7be0;
  }
  #img{
    width: 5rem;
    height: 3rem;
  }
}
